<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
 
<style type="text/css">
#chart_div1
{
 float: left;
  width: 450px;
   height:450px;
   background: black; 
}

#chart_div2
{
 float: left;
  width: 450px;
   height: 450px;
   background: black; 
}

#chart_div3
{
 float: left;
  width: 450px;
   height: 450px;
   background: black; 
}

</style>
     <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          
        var dataA = [
           $HEADLINE
           $DATA
        ];

        dataA1 = calcTheLogOfTheData2( dataA );
   
        var data = google.visualization.arrayToDataTable(dataA1);

        var options = {
          legend: {position: 'top', textStyle: {color: 'darkgray', fontSize: 19}},
          bubble: {textStyle: {fontSize: 14 }},
          colorAxis: {colors: ['green', 'blue']}, 
          vAxis: { 
            title: "log( REP v)",
            viewWindowMode:'explicit',
            viewWindow: {
                max:1.01,
                min:-0.601
            },
            textStyle: {color: 'black', fontSize: 12},
            titleTextStyle : {color: 'black', fontSize: 16},
            format:'0.0'
          },
          hAxis: { 
            title:"log(REL v)",
            viewWindowMode:'explicit',
            viewWindow: {
                max:1.001,
                min:-0.601
            },
            textStyle: {color: 'black', fontSize: 12},
            titleTextStyle : {color: 'black', fontSize: 16},
            format:'0.0'
          },
          explorer: { actions: ['dragToZoom', 'rightClickToReset'] }        
        };
        

        var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
        chart.draw(data, options);
                
 

      }
      
      
      
          function calcTheLogOfTheData2( data ) { 
         
        var i, j;

        for (i = 0; i < data.length; i++) {
            for (j = 0; j < data[i].length; j++) {
                
                temp = data[i][j];
                if ( i > 0 ) {
                    if( j == 1 ) {
                        //
                        temp = log10( temp );
                    }
                    if( j == 2 ) {
                        //
                        temp = log10( temp );
                    }
                    
                    if( j == 4 ) {
                        //
                        temp = log10( temp );
                    }
           
                }

		
                
                data[i][j] = temp;
            }
        }
        //alert("Done: calcTheLogOfTheData2() ..." );
        return data;
    }
      
    
    function calcTheLogOfTheData( data ) { 
         
        var i, j;

        for (i = 0; i < data.length; i++) {
            for (j = 0; j < data[i].length; j++) {
                
                temp = data[i][j];
                if ( i > 0 ) {
                    if( j == 1 ) {
                        //
                        temp = log10( temp );
                    }
                    if( j == 2 ) {
                        //
                        temp = log10( temp );
                    }
   
                }

                
                data[i][j] = temp;
            }
        }
    
        return data;
    }
      
    function log10(val) {
        
        return Math.log(val) / Math.LN10;
    }

</script>
  </head>
  <body>
      
      <h1>CN: Wikipedia page about global company Capgemini</h1>
      <h3>Static Representation Plot for 6 languages</h3>
      <div id="chart_div" style="width: 800px; height: 600px; position: relative;"></div>


  </body>

</html>
